
body {
    padding: 2rem 0;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.main{
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: blanchedalmond;
    padding: 2rem;
    border-radius: 10px;
}

#input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

form{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    justify-content: center;
}

#input p{
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}

#input input{
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border-radius: 5px;
}

button{
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: rgb(97, 207, 211);
    cursor: pointer;
    width: 70%;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.output{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.output span{
    border: 2px solid black;
    border-radius: 5px;
    width: 11rem;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.output span p{
    margin-bottom: 1rem ;
}

.output span h4{
    margin: 1rem 0 0 0;
}


@media (max-width: 768px){
    .main{
        flex-direction: column;
    }

    .output{
        display: flex;
        margin: 0;
    }

    .output span{
        width: 40%;
    }

    .output span h4{
        font-size: 1rem;
    }
}